/*
 * Base purecss provides basic styling, but we overide some of them here.
 */
body { color: #526066; }

h1, h2, h3 {
    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-weight: 500;
    color: black;
}

h1 { font-size: 1.5em }
h2 { font-size: 1em }
h3 { font-size: 0.8em }

p { line-height: 1.6em; }

a {
    text-decoration: none;
    color: rgb(61, 146, 201);
}

/*
 * Layout styles
 * * center content
 * * add padding between and around text boxes
 */
.content {
    margin: 0 auto;
    padding: 0em 1em 2em 1em;
    max-width: 980px;
    overflow:auto;
}

.l-box { padding: 0.5em 1em; }

/* 
 * Shared page styles
 */

.download-tables,
.information {
    max-width: 980px;
    margin: 0 auto;
}

/*
 * Logo settings
 */

.alpine-logo {
    width: 16em;
    margin: 2em;
    margin-left: 1em;
}

a.alpine-logo:hover, 
a.alpine-logo:active { 
    text-decoration: none;
}

/*
 * use pure menus with some positioning.
 */
.pure-menu {
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
    position: relative;

}

.menu-external {
    position: absolute;
    top: 0px;
    right: 0px;
    font-style: italic;
}

.menu-local {
    right: 0px;
    bottom: 0px;
    position: absolute;
}

/*
 * The banner with background image.
 * we use relative positioning to be able to position the banner content properly
 * background taken from:
 * https://unsplash.com/@roylandnye
 * 
 */

.banner {
    background: transparent url('/banner.jpg') 0 0 no-repeat fixed;
    text-align: center;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/banner.jpg', sizingMethod='scale');
    height: 200px;
    width: 100%;
    margin-bottom: 1em;
    position: relative;
}

.banner-content {
    position: absolute;
    top: 50%;
    height: 100px;
    margin-top: -80px;
    width: 100%;
}


.banner h1 {
    margin-bottom: 0;
    font-size: 2em;
    color: white;
    font-weight: 500;
    text-shadow: 0 1px 1px black;
    text-transform: none;
    letter-spacing: normal;
}

.banner h3 {
    margin-bottom: 0;
    font-size: 1em;
    color: white;
    font-weight: 500;
    text-shadow: 0 1px 1px black;
    text-transform: none;
    letter-spacing: normal;
}

.banner-head {
    margin-bottom: 0;
    font-size: 2em;
    color: white;
    font-weight: 500;
    text-shadow: 0 1px 1px black;
}

.banner-head-small {
    margin-bottom: 0;
    font-size: 1em;
    color: white;
    font-weight: 500;
    text-shadow: 0 1px 1px black;
}

/*
 * News section
 */

.news-archive {
    width: 100%;
}


/*
 * Download Section (tables)
 */

.download-box { padding-bottom: 3em; }

.download-table {
    border: 1px solid #ddd;
    margin: 0 0.5em 2em;
    padding: 0 0 3em;
    text-align: center;
}

.download-table-header h2 {
    color: #fff;
    margin: 0;
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: 1em;
    font-weight: bold;
}

.download-table-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.download-box a {
    text-decoration: none;
    color: white;
}

.checksums a {
    color: black;
}

/*
 * This is shared between pages.
 */
.download-table-list li,
.home-list li {
    padding: 0.8em;
    background: #f7f7f7;
    border-bottom: 1px solid #e7e7e7;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.download-table-list li { padding-left: 0em; }

.download-button {
    color: white;
    font-weight: normal;
    background: #018E4A;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    position: relative;
    bottom: -1.5em;
}

/*
 * Home page styling
 */

.home-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.read-more { margin-top: 1em; }

/*
 * Footer styling
 */

.footer {
    background: #111;
    color: #888;
    text-align: center;
}
.footer a { color: #ddd; }

/*
 * Color set taken from:
 * http://www.colourlovers.com/home/trends/interior-looks/7760/Dive_Into_Color
 */

.flavor-alpine h2 { background: #CBB063; }
.flavor-alpine-extended h2 { background: #AA8B4A; }
.flavor-alpine-vanilla h2 { background: #3C2C1F; }
.flavor-alpine-virt h2 { background: #B63731; }
.flavor-alpine-xen h2 { background: #E68804; }
.flavor-alpine-rpi h2 { background: #376160; }
.flavor-alpine-uboot h2 { background: #36384D; }

/*
 * MEDIA queries
 */

/*
 * Larger mobile devices (tablets)
 */ 
@media(min-width: 48em) {
    .banner h1 { font-size: 4em; }
    .download-table { margin-bottom: 0; }
    .menu-local { right: auto; }
    .alpine-logo { margin: 1em; }
}

/*
 * Small devices like phones
 */
@media (min-width: 30em) {
    .banner { height: 400px; }
    .banner h1 { font-size: 3em; }
}

/*
 * Move the logo when the local menu moves to the right.
 */
@media (min-width: 41em) {
    .alpine-logo { margin-top: 1em; }
}
